* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1d1f27;
    color: #c7ccd1;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #13151b;
}

h1 {
    font-size: 28px;
    color: #800080;
}

body, p, a {
    color: #c7ccd1;
}

h1, h2, h3 {
    color: #c7ccd1;
}

.project-card h4 {
    color: #800080;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list li a {
    color: #c7ccd1;
    text-decoration: none;
}

.projects {
    padding: 50px;
}

.projects h2 {
    font-size: 28px;
    color: #cfcfcf;
    margin-bottom: 10px;
}

.projects p {
    font-size: 16px;
    margin-bottom: 40px;
}

.project-category h3 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background: #2a2a2a;
    border: 1px solid #444;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #444;
    margin-bottom: 15px;
}

.project-card h4 {
    color: #cfcfcf;
    font-size: 18px;
    margin-bottom: 10px;
}

.project-card p {
    color: #999;
    font-size: 14px;
}

.buttons .button {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #00f;
    border-radius: 4px;
    color: #00f;
    font-size: 12px;
    margin-right: 10px;
}

.buttons .button:hover {
    background-color: #00f;
    color: #1e1e1e;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #13151b;
    color: #c7ccd1;
    border-top: 1px solid #444;
}

footer p {
    margin: 5px 0;
}

footer .social-icons {
    margin: 10px 0;
}

footer .social-icons a {
    margin: 0 10px;
    color: #c7ccd1;
}

footer .social-icons a:hover {
    color: #800080;
}

.about-me {
    padding: 40px;
    margin-bottom: 0px;
}

.about-me h2 {
    font-size: 28px;
    color: #c7ccd1; 
    margin-bottom: 20px;
}

.about-text h3 {
    font-size: 24px;
    color: #c7ccd1; 
    margin-top: 50px;
}

.about-text p {
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.skills, .fun-facts {
    padding: 40px;
}

.skills h2, .fun-facts h2 {
    font-size: 28px;
    color: #ffffff;
}

.skills-grid, .fun-facts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.project-category h3::before {
    content: "# ";
    color:#800080;
}

.about-text h3::before {
    color: #800080;
}

.project-category h3::before {
    content: "# ";
    color:#800080;
}

.nav-list li a::before {
    content: "#";
    color: #800080;
}

.nav-list li a:before {
    color: #800080;
}

h1::before, h2::before {
    content: '/';
    color: #800080;
    margin-right: 8px;
}

.skills h2::before, .fun-facts h2::before {
    content: '#';
    color: #800080;
    margin-right: 8px;
}

h2.hash::before {
    content: '#';
    color: #800080;
    margin-right: 8px;
}

.nav-list li a:before {
    content: "#";
    color: #800080;
}
